
body{
    margin: 0;
    background-color: #16c0c0;
    background-image: url(https://img.freepik.com/premium-vector/city-bus-with-big-city-background-city-bus_285336-900.jpg?w=2000);
    background-repeat: no-repeat; 
    background-size: cover; 
}
